
 <link rel="stylesheet" id="styleLink">

<header>    
  <h2 *ngIf="(styles | json) == '{}'"> UI Framework Demo </h2>
  <h2 *ngIf="(styles | json) != '{}'"><img [src]="styles.logo">&nbsp;{{styles.title}}</h2> 
</header>
<div [class]="styles.theme">
  <!-- content goes here -->
  <!-- <mat-card>Simple card</mat-card> -->
  Select the firm  to change title,logo,colors and footer note :
  <select [(ngModel)]="selectedFirm" (change)="onChangeFirm()">
    <option value="firm1">Firm 1</option>
    <option value="firm2">Firm 2</option>
  </select>
  <button mat-raised-button color="primary" *ngIf="(styles | json) != '{}'">Click Me!</button>
</div>
<footer>
  <h4>{{styles["footer-note"]}}</h4>
</footer>