
 <link rel="stylesheet" id="theme">

<header>    
  <h2 *ngIf="(styles |json) == '{}'">Default Title</h2>
  <h2 *ngIf="(styles |json) != '{}'"><img [src]="styles.logo">&nbsp;{{styles.title}}</h2> 
</header>
<div>
  <!-- content goes here -->
  Select the firm  to change title,logo and footer note :
  <select [(ngModel)]="selectedFirm" (change)="onChangeFirm()">
    <option value="firm1">Firm 1</option>
    <option value="firm2">Firm 2</option>
  </select>
</div>
<footer>
  <h4>{{styles["footer-note"]}}</h4>
</footer>